[submodule "src/ofxHttpUtils"]
	path = src/ofxHttpUtils
	url = https://github.com/arturoc/ofxHttpUtils
[submodule "src/ofxAvahiCore"]
	path = src/ofxAvahiCore
	url = https://github.com/arturoc/ofxAvahiCore.git
